@media (min-width: 1281px) {
  
 
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  

}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .displaynone-mobile{
        display: none;;
    }
    
    .logo-2{
        width: 150px; height: 37px;
    }
    .banner-header {
        margin: 0px;
    }
    .banner-cover {
        padding-top: 10% !important;
    }
    .banner-header {
        font-size: 24px;
    }
    .search1 {
        padding: 8px 7px;
    }
    .spone-img-icon {
        height: 34px;
        width: 22px;
    }
    .search1-input {
        padding: 25px 9px !important;
    } 
    .search2-input {
        padding: 25.5px 12px !important;
        font-size: 12px;
    }   
    .search-img-icon {
        height: 18px;
    }
    .toggle-search-icon {
        height: 18px;
    }
    .left-ym-meter {
        padding-left: 15px; 
        padding-top:  15px;
    }
    .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
        width: 14px;
        height: 30px;    
    }
    .slider-right-img {
        width: 210px;
        height: 264px;
    }
    .around-you-img{
        width: 60px;
    }
    .col-md-around-data{
        max-width: 16.6% !important;
     }
     .bg-images-map {
        background: url(../img/Group645.png) center center no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .aroundyou-data-h6-2{
        font-size: 12px;
    }
    .aroundyou-data-h6{
        font-size: 12px;
    }
    .aroundyou-data-h6-2{
        font-size: 12px;
    }
    .aroundyou-data-h6{
        font-size: 12px;
    }

    .post-top-button {
        font-size: 14px;
    }
    .post-button-action{
        margin: auto;
        width: 120px;
        float: inherit;
    }
    .post-btn{
        text-align: center;
    }
    .nav-link {
        display: block;
        padding: .5rem 1rem;
        font-size: 10px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 12px;
    }
    .multi-dish-img {
        padding-right: 15px;
        padding-left: 15px;
    }    
    .main-img-dish {
        padding: 0px;
    }
    .multi-dish-img-list-main {
        padding-right: 15px;
        padding-left: 15px;
    }
    .multi-dish-img-list {
        padding: 0px;
    }
    .Rivew-btn {
        padding: 7px;
        margin: 5px;
        font-size: 12px;
     }
     .btn-round-white {
        padding: 11px 7px;
        font-size: 10px; 
    }
    .post-view-main {
        padding: 12px 15px;
        border-radius: 15px;
        margin-top: 25px;
    }
    .view-file-700{
        flex: 0 0 100%;
        max-width: 100%;
    
    }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .Rivew-btn {
        padding: 7px;
        margin: 5px;
        font-size: 12px;
     }
     .btn-round-white {
        padding: 11px 7px;
    }

}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .displaynone-mobile{
        display: none;;
    }
    .logo-1{
        width: 200px;
        height: 37px;
    
    }
    .logo-2{
        width: 150px; height: 37px;
    }
    .banner-header {
        margin: 0px;
    }
    .banner-cover {
        padding-top: 50% !important;
    }
    .banner-header {
        font-size: 24px;
    }
    .search1 {
        padding: 8px 7px;
    }
    .spone-img-icon {
        height: 34px;
        width: 22px;
    }
    .search1-input {
        padding: 25px 9px !important;
    } 
    .search2-input {
        padding: 25.5px 12px !important;
        font-size: 15px;
    }   
    .search-img-icon {
        height: 18px;
    }
    .toggle-search-icon {
        height: 18px;
    }
    .left-ym-meter {
        padding-left: 15px; 
        padding-top:  15px;
    }
    .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
        width: 14px;
        height: 30px;    
    }
    .slider-right-img {
        width: 210px;
        height: 264px;
    }
    .around-you-img{
        width: 60px;
    }
    .col-md-around-data{
        max-width: 16.6% !important;
     }
     .aroundyou-data-h6-2{
        font-size: 12px;
    }
    .aroundyou-data-h6{
        font-size: 12px;
    }
    .aroundyou-data {
        padding-top: 0px;
    }
    .Rivew-btn {
       padding: 7px;
       margin: 5px;
       font-size: 12px;
    }
    .aroundyou-data-h6-2{
        font-size: 12px;
    }
    .aroundyou-data-h6{
        font-size: 12px;
    }

    .post-top-button {
        font-size: 14px;
    }
    .post-button-action{
        margin: auto;
        width: 120px;
        float: inherit;
    }
    .post-btn{
        text-align: center;
    }
    .nav-link {
        display: block;
        padding: .5rem 1rem;
        font-size: 10px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 12px;
    }
    .multi-dish-img {
        padding-right: 15px;
        padding-left: 15px;
    }    
    .main-img-dish {
        padding: 0px;
    }
    .multi-dish-img-list-main {
        padding-right: 15px;
        padding-left: 15px;
    }
    .multi-dish-img-list {
        padding: 0px;
    }
    .upload-img{
        width: 30%;
        float: left;
        padding: 3px;
      }
      .view-padding-set {
        padding-right: 15px;
        padding-left: 15px;
      }
      .sponsered-img{
        padding-left: 24px;
        text-align: unset;
              }
              .sponsered-text{
                padding-left: 24px;
                text-align: unset;
            }
            .left-ym-meter h3 {
                text-align: center;
            }
            .mobile-view-set-600 img{
                  margin: auto;
            }
            .slider-right-img {
                margin: auto;
            }
            .Rivew-cover-btn {
                text-align: center;
            }
            .post-view-main {
                padding: 12px 15px;
                border-radius: 15px;
                margin-top: 25px;
            }
.footer-row {
    background-color: #9A4e9f !important;
    margin-bottom: -12px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 13px;
    padding-top: 13px;
}



}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .displaynone-mobile{
        display: none;;
    }
    .logo-1{
        width: 200px;
        height: 37px;
    
    }
    .logo-2{
        width: 110px;
    height: 37px;
    }
    .banner-header {
        margin: 0px;
    }
    .banner-cover {
        padding-top: 50% !important;
    }
    .banner-header {
        font-size: 24px;
    }
    .search1 {
        padding: 8px 7px;
    }
    .spone-img-icon {
        height: 35px;
        width: 20px;
    }
    .search1-input {
        padding: 25px 9px !important;
    } 
    .search2-input {
        padding: 25.5px 12px !important;
        font-size: 8px;
    }   
    .search-img-icon {
        height: 18px;
    }
    .toggle-search-icon {
        height: 18px;
    }
    .left-ym-meter {
        padding-left: 15px; 
        padding-top:  15px;
    }
    .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
        width: 14px;
        height: 30px;    
    }
    .slider-right-img {
        width: 210px;
        height: 264px;
    }
    .around-you-img{
        width: 50px;
    }
    .col-md-around-data{
        max-width: 16.6% !important;
     }
     .aroundyou-data-h6-2{
        font-size: 12px;
    }
    .aroundyou-data-h6{
        font-size: 12px;
    }

    .post-top-button {
        font-size: 14px;
    }
    .post-button-action{
        margin: auto;
        width: 120px;
        float: inherit;
    }
    .post-btn{
        text-align: center;
    }
    .nav-link {
        display: block;
        padding: .5rem 1rem;
        font-size: 10px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 12px;
    }
    .multi-dish-img {
        padding-right: 15px;
        padding-left: 15px;
    }    
    .main-img-dish {
        padding: 0px;
    }
    .multi-dish-img-list-main {
        padding-right: 15px;
        padding-left: 15px;
    }
    .multi-dish-img-list {
        padding: 0px;
    }
    .upload-img{
        width: 30%;
        float: left;
        padding: 3px;
      }

      .view-padding-set {
        padding-right: 15px;
        padding-left: 15px;
      }
      .side-sponsered{
        background: white;
        margin-top: 0px;
        padding-top: 15px;
      }
      .sponsered-img{
padding-left: 24px;
text-align: unset;
      }
      .sponsered-text{
        padding-left: 24px;
        text-align: unset;
    }
    .post-view-main {
        padding: 12px 15px;
        border-radius: 15px;
        margin-top: 25px;
    }
    .footer-row {
        background-color: #9A4e9f !important;
        margin-bottom: -12px;
        border-radius: 0px 0px 10px 10px;
        padding-bottom: 13px;
        padding-top: 13px;
    }
    
    
}